@import "../base/variables";
* {
	font-family: 'Museo Sans Cyrl', sans-serif;
}
.container{
	max-width: 950px;
	margin: 0 auto;
}

.label{
	color: #0d0d0d;
	font-size: 30px;
	font-weight: 700;
	font-style: normal;
	text-align: center;
	line-height: 24px;
	text-transform: uppercase;
}

@import "../blocks/promo";
@import "../blocks/header.scss";
@import "../blocks/buttons";
@import "../blocks/advantages";
@import "../base/media";